.root {
  display: flex;
  align-items: center;
  padding-top: var(--s3);
  padding-bottom: var(--s3);
}

.root:not(:last-child) {
  border-bottom: 1px solid var(--neutral-200);
}

.root > *:not(:last-child) {
  margin-right: var(--s3);
}

.cover {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.meta {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.title {
  font-weight: 600;
  margin-bottom: var(--s1);
}

.description {
  color: var(--neutral-500);
  font-size: 0.9em;
}

.price {
  display: flex;
  flex-flow: column nowrap;
  width: 100px;
  text-align: right;
}

.subPrice {
  color: var(--neutral-500);
  font-size: 0.8em;
  text-align: right;
}
