.root {
  height: 40px;
  padding-left: var(--s3);
  border: 1px solid var(--neutral-300);
  border-radius: var(--r2);
  background-color: transparent;
}

.root::placeholder {
  color: var(--neutral-500);
}
