.root {
  display: flex;
  flex-flow: column nowrap;
}

.coverWrapper {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--s3);
}

.cover {
  object-fit: contain;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: var(--s3);
}

.description {
  color: var(--neutral-600);
  font-size: 0.9em;
  margin-bottom: var(--s6);
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.price {
  font-weight: 600;
}
