@import '~normalize.css/normalize.css';
@import 'assets/css/palette.css';
@import 'assets/css/radii.css';
@import 'assets/css/shadows.css';
@import 'assets/css/spacing.css';
@import 'assets/css/typography.css';
@import 'assets/css/layers.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

body {
  font-family: 'Open Sans', Roboto, Tahoma, Verdana, sans-serif;
  font-size: var(--fs3);
  line-height: 1.5em;
  color: var(--neutral-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: var(--shadow-outline);
  transition: box-shadow 200ms ease;
}

a {
  text-decoration: none;
  color: var(--primary-700);
}

a:hover {
  color: var(--primary-600);
  text-decoration: underline;
}
